.cs-password {
    position: relative;
    display: inline-flex;
}

.cs-password-panel {
    position: absolute;
    top: 0;
    left: 0;
}

.cs-password .cs-password-panel {
    min-width: 100%;
}

.cs-password-meter {
    height: 10px;
}

.cs-password-strength {
    height: 100%;
    width: 0%;
    transition: width 1s ease-in-out;
}

.cs-fluid .cs-password {
    display: flex;
}
