.field {
    margin-bottom: 1rem;

    label {
        display: inline-block;
        margin-bottom: 0.5rem;
    }

    small {
        margin-top: 0.25rem;
    }
}

.field-radiobutton {
    label {
        margin-left: 0.5rem;
        line-height: 1;
    }
}
.field-checkbox {
    label {
        margin-left: 0.5rem;
        line-height: 1;
    }
}

.block {
    display: block !important;
}
