.dialog-demo {
    .cs-button {
        margin: 0 0.5rem 0 0;
        min-width: 10rem;
    }
    .dialog-demo p {
        margin: 0;
        line-height: 1.5;
    }

    .dialog-demo .cs-dialog .cs-button {
        min-width: 6rem;
    }
}
