.cs-text-h1 {
    font-family: var(--font-family-default);
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
}

.cs-text-h2 {
    font-family: var(--font-family-default);
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
}

.cs-text-h3 {
    font-family: var(--font-family-default);
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
}

.cs-text-t1 {
    font-family: var(--font-family-default);
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
}

.cs-text-t2 {
    font-family: var(--font-family-default);
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
}

.cs-text-t3 {
    font-family: var(--font-family-default);
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
}

.cs-text-t4 {
    font-family: var(--font-family-default);
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
}
