@font-face {
    font-family: 'csicons';
    font-display: block;
    src: url('../icons/fonts/csicons.eot');
    src: url('../icons/fonts/csicons.eot?#iefix') format('embedded-opentype'),
        url('../icons/fonts/csicons.ttf') format('truetype'),
        url('../icons/fonts/csicons.woff') format('woff'),
        url('../icons/fonts/csicons.svg?#csicons') format('svg');
    font-weight: normal;
    font-style: normal;
}

.csi {
    font-family: 'csicons';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    display: inline-block;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.csi:before {
    --webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.csi-fw {
    width: 1.28571429em;
    text-align: center;
}

.csi-spin {
    -webkit-animation: fa-spin 2s infinite linear;
    animation: fa-spin 2s infinite linear;
}

@-webkit-keyframes fa-spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}

@keyframes fa-spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}

.csi-sort-alt-slash:before {
    content: '\e9ee';
}

.csi-arrows-h:before {
    content: '\e9ec';
}

.csi-arrows-v:before {
    content: '\e9ed';
}

.csi-pound:before {
    content: '\e9eb';
}

.csi-prime:before {
    content: '\e9ea';
}

.csi-chart-pie:before {
    content: '\e9e9';
}

.csi-reddit:before {
    content: '\e9e8';
}

.csi-code:before {
    content: '\e9e7';
}

.csi-sync:before {
    content: '\e9e6';
}

.csi-shopping-bag:before {
    content: '\e9e5';
}

.csi-server:before {
    content: '\e9e4';
}

.csi-database:before {
    content: '\e9e3';
}

.csi-hashtag:before {
    content: '\e9e2';
}

.csi-bookmark-fill:before {
    content: '\e9df';
}

.csi-filter-fill:before {
    content: '\e9e0';
}

.csi-heart-fill:before {
    content: '\e9e1';
}

.csi-flag-fill:before {
    content: '\e9de';
}

.csi-circle:before {
    content: '\e9dc';
}

.csi-circle-fill:before {
    content: '\e9dd';
}

.csi-bolt:before {
    content: '\e9db';
}

.csi-history:before {
    content: '\e9da';
}

.csi-box:before {
    content: '\e9d9';
}

.csi-at:before {
    content: '\e9d8';
}

.csi-arrow-up-right:before {
    content: '\e9d4';
}

.csi-arrow-up-left:before {
    content: '\e9d5';
}

.csi-arrow-down-left:before {
    content: '\e9d6';
}

.csi-arrow-down-right:before {
    content: '\e9d7';
}

.csi-telegram:before {
    content: '\e9d3';
}

.csi-stop-circle:before {
    content: '\e9d2';
}

.csi-stop:before {
    content: '\e9d1';
}

.csi-whatsapp:before {
    content: '\e9d0';
}

.csi-building:before {
    content: '\e9cf';
}

.csi-qrcode:before {
    content: '\e9ce';
}

.csi-car:before {
    content: '\e9cd';
}

.csi-instagram:before {
    content: '\e9cc';
}

.csi-linkedin:before {
    content: '\e9cb';
}

.csi-send:before {
    content: '\e9ca';
}

.csi-slack:before {
    content: '\e9c9';
}

.csi-sun:before {
    content: '\e9c8';
}

.csi-moon:before {
    content: '\e9c7';
}

.csi-vimeo:before {
    content: '\e9c6';
}

.csi-youtube:before {
    content: '\e9c5';
}

.csi-flag:before {
    content: '\e9c4';
}

.csi-wallet:before {
    content: '\e9c3';
}

.csi-map:before {
    content: '\e9c2';
}

.csi-link:before {
    content: '\e9c1';
}

.csi-credit-card:before {
    content: '\e9bf';
}

.csi-discord:before {
    content: '\e9c0';
}

.csi-percentage:before {
    content: '\e9be';
}

.csi-euro:before {
    content: '\e9bd';
}

.csi-book:before {
    content: '\e9ba';
}

.csi-shield:before {
    content: '\e9b9';
}

.csi-paypal:before {
    content: '\e9bb';
}

.csi-amazon:before {
    content: '\e9bc';
}

.csi-phone:before {
    content: '\e9b8';
}

.csi-filter-slash:before {
    content: '\e9b7';
}

.csi-facebook:before {
    content: '\e9b4';
}

.csi-github:before {
    content: '\e9b5';
}

.csi-twitter:before {
    content: '\e9b6';
}

.csi-step-backward-alt:before {
    content: '\e9ac';
}

.csi-step-forward-alt:before {
    content: '\e9ad';
}

.csi-forward:before {
    content: '\e9ae';
}

.csi-backward:before {
    content: '\e9af';
}

.csi-fast-backward:before {
    content: '\e9b0';
}

.csi-fast-forward:before {
    content: '\e9b1';
}

.csi-pause:before {
    content: '\e9b2';
}

.csi-play:before {
    content: '\e9b3';
}

.csi-compass:before {
    content: '\e9ab';
}

.csi-id-card:before {
    content: '\e9aa';
}

.csi-ticket:before {
    content: '\e9a9';
}

.csi-file-o:before {
    content: '\e9a8';
}

.csi-reply:before {
    content: '\e9a7';
}

.csi-directions-alt:before {
    content: '\e9a5';
}

.csi-directions:before {
    content: '\e9a6';
}

.csi-thumbs-up:before {
    content: '\e9a3';
}

.csi-thumbs-down:before {
    content: '\e9a4';
}

.csi-sort-numeric-down-alt:before {
    content: '\e996';
}

.csi-sort-numeric-up-alt:before {
    content: '\e997';
}

.csi-sort-alpha-down-alt:before {
    content: '\e998';
}

.csi-sort-alpha-up-alt:before {
    content: '\e999';
}

.csi-sort-numeric-down:before {
    content: '\e99a';
}

.csi-sort-numeric-up:before {
    content: '\e99b';
}

.csi-sort-alpha-down:before {
    content: '\e99c';
}

.csi-sort-alpha-up:before {
    content: '\e99d';
}

.csi-sort-alt:before {
    content: '\e99e';
}

.csi-sort-amount-up:before {
    content: '\e99f';
}

.csi-sort-amount-down:before {
    content: '\e9a0';
}

.csi-sort-amount-down-alt:before {
    content: '\e9a1';
}

.csi-sort-amount-up-alt:before {
    content: '\e9a2';
}

.csi-palette:before {
    content: '\e995';
}

.csi-undo:before {
    content: '\e994';
}

.csi-desktop:before {
    content: '\e993';
}

.csi-sliders-v:before {
    content: '\e991';
}

.csi-sliders-h:before {
    content: '\e992';
}

.csi-search-plus:before {
    content: '\e98f';
}

.csi-search-minus:before {
    content: '\e990';
}

.csi-file-excel:before {
    content: '\e98e';
}

.csi-file-pdf:before {
    content: '\e98d';
}

.csi-check-square:before {
    content: '\e98c';
}

.csi-chart-line:before {
    content: '\e98b';
}

.csi-user-edit:before {
    content: '\e98a';
}

.csi-exclamation-circle:before {
    content: '\e989';
}

.csi-android:before {
    content: '\e985';
}

.csi-google:before {
    content: '\e986';
}

.csi-apple:before {
    content: '\e987';
}

.csi-microsoft:before {
    content: '\e988';
}

.csi-heart:before {
    content: '\e984';
}

.csi-mobile:before {
    content: '\e982';
}

.csi-tablet:before {
    content: '\e983';
}

.csi-key:before {
    content: '\e981';
}

.csi-shopping-cart:before {
    content: '\e980';
}

.csi-comments:before {
    content: '\e97e';
}

.csi-comment:before {
    content: '\e97f';
}

.csi-briefcase:before {
    content: '\e97d';
}

.csi-bell:before {
    content: '\e97c';
}

.csi-paperclip:before {
    content: '\e97b';
}

.csi-share-alt:before {
    content: '\e97a';
}

.csi-envelope:before {
    content: '\e979';
}

.csi-volume-down:before {
    content: '\e976';
}

.csi-volume-up:before {
    content: '\e977';
}

.csi-volume-off:before {
    content: '\e978';
}

.csi-eject:before {
    content: '\e975';
}

.csi-money-bill:before {
    content: '\e974';
}

.csi-images:before {
    content: '\e973';
}

.csi-image:before {
    content: '\e972';
}

.csi-sign-in:before {
    content: '\e970';
}

.csi-sign-out:before {
    content: '\e971';
}

.csi-wifi:before {
    content: '\e96f';
}

.csi-sitemap:before {
    content: '\e96e';
}

.csi-chart-bar:before {
    content: '\e96d';
}

.csi-camera:before {
    content: '\e96c';
}

.csi-dollar:before {
    content: '\e96b';
}

.csi-lock-open:before {
    content: '\e96a';
}

.csi-table:before {
    content: '\e969';
}

.csi-map-marker:before {
    content: '\e968';
}

.csi-list:before {
    content: '\e967';
}

.csi-eye-slash:before {
    content: '\e965';
}

.csi-eye:before {
    content: '\e966';
}

.csi-folder-open:before {
    content: '\e964';
}

.csi-folder:before {
    content: '\e963';
}

.csi-video:before {
    content: '\e962';
}

.csi-inbox:before {
    content: '\e961';
}

.csi-lock:before {
    content: '\e95f';
}

.csi-unlock:before {
    content: '\e960';
}

.csi-tags:before {
    content: '\e95d';
}

.csi-tag:before {
    content: '\e95e';
}

.csi-power-off:before {
    content: '\e95c';
}

.csi-save:before {
    content: '\e95b';
}

.csi-question-circle:before {
    content: '\e959';
}

.csi-question:before {
    content: '\e95a';
}

.csi-copy:before {
    content: '\e957';
}

.csi-file:before {
    content: '\e958';
}

.csi-clone:before {
    content: '\e955';
}

.csi-calendar-times:before {
    content: '\e952';
}

.csi-calendar-minus:before {
    content: '\e953';
}

.csi-calendar-plus:before {
    content: '\e954';
}

.csi-ellipsis-v:before {
    content: '\e950';
}

.csi-ellipsis-h:before {
    content: '\e951';
}

.csi-bookmark:before {
    content: '\e94e';
}

.csi-globe:before {
    content: '\e94f';
}

.csi-replay:before {
    content: '\e94d';
}

.csi-filter:before {
    content: '\e94c';
}

.csi-print:before {
    content: '\e94b';
}

.csi-align-right:before {
    content: '\e946';
}

.csi-align-left:before {
    content: '\e947';
}

.csi-align-center:before {
    content: '\e948';
}

.csi-align-justify:before {
    content: '\e949';
}

.csi-cog:before {
    content: '\e94a';
}

.csi-cloud-download:before {
    content: '\e943';
}

.csi-cloud-upload:before {
    content: '\e944';
}

.csi-cloud:before {
    content: '\e945';
}

.csi-pencil:before {
    content: '\e942';
}

.csi-users:before {
    content: '\e941';
}

.csi-clock:before {
    content: '\e940';
}

.csi-user-minus:before {
    content: '\e93e';
}

.csi-user-plus:before {
    content: '\e93f';
}

.csi-trash:before {
    content: '\e93d';
}

.csi-external-link:before {
    content: '\e93c';
}

.csi-window-maximize:before {
    content: '\e93b';
}

.csi-window-minimize:before {
    content: '\e93a';
}

.csi-refresh:before {
    content: '\e938';
}

.csi-user:before {
    content: '\e939';
}

.csi-exclamation-triangle:before {
    content: '\e922';
}

.csi-calendar:before {
    content: '\e927';
}

.csi-chevron-circle-left:before {
    content: '\e928';
}

.csi-chevron-circle-down:before {
    content: '\e929';
}

.csi-chevron-circle-right:before {
    content: '\e92a';
}

.csi-chevron-circle-up:before {
    content: '\e92b';
}

.csi-angle-double-down:before {
    content: '\e92c';
}

.csi-angle-double-left:before {
    content: '\e92d';
}

.csi-angle-double-right:before {
    content: '\e92e';
}

.csi-angle-double-up:before {
    content: '\e92f';
}

.csi-angle-down:before {
    content: '\e930';
}

.csi-angle-left:before {
    content: '\e931';
}

.csi-angle-right:before {
    content: '\e932';
}

.csi-angle-up:before {
    content: '\e933';
}

.csi-upload:before {
    content: '\e934';
}

.csi-download:before {
    content: '\e956';
}

.csi-ban:before {
    content: '\e935';
}

.csi-star-fill:before {
    content: '\e936';
}

.csi-star:before {
    content: '\e937';
}

.csi-chevron-left:before {
    content: '\e900';
}

.csi-chevron-right:before {
    content: '\e901';
}

.csi-chevron-down:before {
    content: '\e902';
}

.csi-chevron-up:before {
    content: '\e903';
}

.csi-caret-left:before {
    content: '\e904';
}

.csi-caret-right:before {
    content: '\e905';
}

.csi-caret-down:before {
    content: '\e906';
}

.csi-caret-up:before {
    content: '\e907';
}

.csi-search:before {
    content: '\e908';
}

.csi-check:before {
    content: '\e909';
}

.csi-check-circle:before {
    content: '\e90a';
}

.csi-times:before {
    content: '\e90b';
}

.csi-times-circle:before {
    content: '\e90c';
}

.csi-plus:before {
    content: '\e90d';
}

.csi-plus-circle:before {
    content: '\e90e';
}

.csi-minus:before {
    content: '\e90f';
}

.csi-minus-circle:before {
    content: '\e910';
}

.csi-circle-on:before {
    content: '\e911';
}

.csi-circle-off:before {
    content: '\e912';
}

.csi-sort-down:before {
    content: '\e913';
}

.csi-sort-up:before {
    content: '\e914';
}

.csi-sort:before {
    content: '\e915';
}

.csi-step-backward:before {
    content: '\e916';
}

.csi-step-forward:before {
    content: '\e917';
}

.csi-th-large:before {
    content: '\e918';
}

.csi-arrow-down:before {
    content: '\e919';
}

.csi-arrow-left:before {
    content: '\e91a';
}

.csi-arrow-right:before {
    content: '\e91b';
}

.csi-arrow-up:before {
    content: '\e91c';
}

.csi-bars:before {
    content: '\e91d';
}

.csi-arrow-circle-down:before {
    content: '\e91e';
}

.csi-arrow-circle-left:before {
    content: '\e91f';
}

.csi-arrow-circle-right:before {
    content: '\e920';
}

.csi-arrow-circle-up:before {
    content: '\e921';
}

.csi-info:before {
    content: '\e923';
}

.csi-info-circle:before {
    content: '\e924';
}

.csi-home:before {
    content: '\e925';
}

.csi-spinner:before {
    content: '\e926';
}
